{% extends 'main.html' %}

{% block content %}
    <div>
        <p>Играта „Бикове и крави“ е класическа умствена игра, чрез която не само тренирате мозъка си,
        развивате логическото и комбинативното си мислене, но и се забавлявате.<br>
        „Бикове и крави“ е игра с числа или букви, която датира повече от век.
        Всъщност не е известно кога точно е създадена играта и от кого, но има данни,
        че хората са я играели преди повече от столетие и то по начина, по който я играем и до днес
        (вижте ПРАВИЛАТА на играта).<br>
        В първообраза на играта са необходими само лист, химикал и партньор,
        с който да премерите „сили“, но ако първите две условия почти винаги са под ръка,
        то партньор не винаги е лесно да си осигурите. Тук на помощ идва вашият компютър,
        който ще ви предизвика да разгадаете неговата комбинация, а първото място в класирането,
        примамливо ще ви очаква.<br> <br>
        Скучно ли ви е? Имате ли нужда да пораздвижите мозъка си? Да „подхраните“ състезателния си дух?<br> <br>
        Регистрирайте се и се включете в надпреварата!
        </p>
    </div>
{% endblock %}